My workflow.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "931fbfcc-b3b6-4162-9412-36ab197fba01",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "53c81490-7abc-4920-a51a-eb0ac2738cd3",
      "name": "Webhook",
      "webhookId": "931fbfcc-b3b6-4162-9412-36ab197fba01"
    },
    {
      "parameters": {
        "jsCode": "const rawMessage = $json.Body || $json.body?.Body || '';\nconst parts = rawMessage.trim().split(' ');\nconst command = parts[0].toUpperCase();\nconst args = parts.slice(1);\n\nreturn [{\n  json: {\n    command,\n    args,\n    from: $json.From || $json.body?.From\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "d46c1c57-9b85-401c-a923-6245bad03ee3",
      "name": "Parse Incoming"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.command}}",
                    "rightValue": "LIST",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "53d748c3-a379-441c-bf57-953be0c57e62"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0bbeec62-61b9-48a3-b1d7-dee6b9284172",
                    "leftValue": "={{$json.command}}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a885824e-191a-483f-8f9f-4455e7c770f7",
                    "leftValue": "={{$json.command}}",
                    "rightValue": "MOVE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77976738-4119-4b34-b8ab-bbbb47e453be",
                    "leftValue": "={{$json.command}}",
                    "rightValue": "SUMMARY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        416,
        0
      ],
      "id": "527c14cc-4439-40f4-a240-0c435a447c33",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=name = '{{$json.args[0]}}'",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        -432
      ],
      "id": "c0849431-dcc4-4a74-bb76-4aece317b489",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "blMOduV2t1Xg5jbU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "='{{$node[\"Search files and folders\"].json[\"id\"]}}' in parents",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        -416
      ],
      "id": "cc7c7ba2-57ce-41cd-94d9-138660b22203",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "blMOduV2t1Xg5jbU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "from": "9022790465",
        "to": "={{ $json.from }}",
        "toWhatsapp": true,
        "message": "=Your files in {{$json.args[0]}}:\\n{{$node[\"Search files and folders1\"].json.map(item => item.name).join('\\n')}}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1040,
        -432
      ],
      "id": "f6eae1fc-2b92-47d3-bbda-0084369827f1",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "GnTbtmUpfSVmAwyP",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "name = '{{$json.args[0]}}'",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        656,
        -208
      ],
      "id": "8a0f506b-cdc3-4dcc-a027-5db99a3ffc3e",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "blMOduV2t1Xg5jbU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "=={{$node[\"Search files and folders2\"].json[\"id\"]}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        -224
      ],
      "id": "80a7e8da-d3d2-40ad-a2fc-197a2a5c017d",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "blMOduV2t1Xg5jbU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "from": "902279465",
        "to": "={{ $json.from }}",
        "toWhatsapp": true,
        "message": "Successfully deleted {{$json.args[0]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1024,
        -224
      ],
      "id": "bc4181a8-4f71-4dcd-82ff-75733a973f80",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "credentials": {
        "twilioApi": {
          "id": "GnTbtmUpfSVmAwyP",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "name = '{{$json.args[1]}}'",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        864,
        -16
      ],
      "id": "c7f2b2bb-b934-48c4-84bc-b0ede4b05d52",
      "name": "Search files and folders4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "blMOduV2t1Xg5jbU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "name = '{{$json.args[0]}}'",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        656,
        -16
      ],
      "id": "5b277d83-f0af-49f3-9c0e-5617909a7e13",
      "name": "Search files and folders3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "blMOduV2t1Xg5jbU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "=={{$node[\"Search files and folders3\"].json[\"id\"]}}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        -16
      ],
      "id": "aec45c23-1af7-4451-86b2-b51e0156d27e",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "blMOduV2t1Xg5jbU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "from": "9022790465",
        "to": "={{ $json.from }}",
        "toWhatsapp": true,
        "message": "Moved {{$json.args[0]}} to {{$json.args[1]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1264,
        -16
      ],
      "id": "f753be53-d9fa-4a11-ad7d-c39df5d9e601",
      "name": "Send an SMS/MMS/WhatsApp message2",
      "credentials": {
        "twilioApi": {
          "id": "GnTbtmUpfSVmAwyP",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "name = '{{$json.args[0]}}'",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        656,
        192
      ],
      "id": "30cefb1d-47e5-46bc-9cd5-9e227827155a",
      "name": "Search files and folders5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "blMOduV2t1Xg5jbU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "from": "9022790465",
        "to": "={{ $json.from }}",
        "toWhatsapp": true,
        "message": "Summary of {{$json.name}}:\\n{{$node[\"Message a model\"].json.choices[0].message.content}}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1872,
        192
      ],
      "id": "1e1fc8a9-81e6-4c57-abeb-5b4b80b06968",
      "name": "Send an SMS/MMS/WhatsApp message3",
      "credentials": {
        "twilioApi": {
          "id": "GnTbtmUpfSVmAwyP",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "'{{$node[\"Search files and folders5\"].json[\"id\"]}}' in parents and (mimeType = 'application/pdf' or mimeType = 'text/plain' or mimeType = 'application/vnd.openxmlformats-officedocument.wordprocessingml.document')",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        864,
        192
      ],
      "id": "2866e804-f131-46bd-8729-f2ac27655a40",
      "name": "Search files and folders6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "blMOduV2t1Xg5jbU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1072,
        192
      ],
      "id": "521d455e-76df-4ff5-9a97-b60d03b5b7ff",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1328,
        176
      ],
      "id": "d4f28bdf-790b-4a8d-bc8f-844243617cda",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "blMOduV2t1Xg5jbU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "==Summarize the following document content in a concise bullet-point list:\\n\\n{{$node[\"Download file1\"].json.data}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1536,
        176
      ],
      "id": "73e9e0d4-a347-4f0e-ab64-fd408cc3ccbb",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "gtWD9sWHYHRtL4sa",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Incoming": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders5",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "Search files and folders4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders4": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders5": {
      "main": [
        [
          {
            "node": "Search files and folders6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9a2de9f5-8a01-4c2f-9637-0476dcdcdcce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4e0c35ada4904b7894b3d72c86f4c2217e32f5e4368ffcb033b1ec38a747001"
  },
  "id": "0ps8F6Ms7e8mSfBz",
  "tags": []
}